@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700');

* {
  box-sizing: border-box;
  max-width: 100%;
}

html, body {
      overflow-x: hidden;
}

body {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.header_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('src/images/way.jpg');
    background-size: auto 100vh;
    background-color: rgba(0,0,0,0.7);
    background-position: center;
    background-blend-mode: lighten;
    backdrop-filter: blur(2px);
    color: white;
    text-shadow:
  1px 1px 5px black,
  1px 1px 5px black,
  1px 1px 10px black;
}


.header_container p{
margin-right:10vw;
margin-left: 10vw;}

#QuiBono_img{
width: 80vw;
}

#wir_img{
width: 80vw;
aspect-ratio: 16/10;
object-fit:cover;
border-radius:2%;
box-shadow:
  1px 1px 5px black,
  1px 1px 30px black,
  1px 1px 10px black;
}

.greeting_container {
    display: flex;
    flex-direction: column;
    justify-content: End;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('src/images/(Br)Omens.jpg');
    background-size: cover;
    background-position: center;

}

#age{
    font-size: 150px;
    color: white;
    font-weight: bold;
    padding-right: 15px;
}

#age_lable {
    font-size: 25px;
    color: white;
    position: relative;
    left: 60px;
    top: -60px;
}

.greetings {
    color: white;
    font-weight: light;
    padding: 0px 25px;
    line-height: 150%;
    max-width: 700px;
    text-shadow:
  1px 1px 5px black,
  1px 1px 5px black,
  1px 1px 10px black;
}

#passwordOverlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('./src/images/dartmoor.png') no-repeat center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

#codeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.codeInputContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.codeInput {
  width: 50px;
  height: 60px;
  text-align: center;
  font-size: 2rem;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.codeInput:focus {
  outline: 2px solid #ffffff;
}

#submitBtn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

#errorMsg {
  margin-top: 15px;
  color: red;
  height: 10px;
}

/* Fade-out animation */
.fade-out {
  opacity: 0;
  transition: opacity 0.6s ease;
  pointer-events: none;
}

#mainContent {
  opacity: 0;
  transition: opacity 2s ease;
}

#mainContent.visible {
  opacity: 1;
}
