.slider{
width: 100%;
height: 100vh;
overflow: hidden;
/* backdrop-filter: blur(8px); #COMMENT_LASSE */
/* overflow:hidden; */
}
.background{
position: absolute;
width: 100%;
height: 100vh;
background-size: auto 100vh;
background-color: rgba(0,0,0,0.5);
background-blend-mode: lighten;
background-position:center;
}

.nav-container{
position: absolute;
width: 100%;
height: 80vh;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
pointer-events: none;
}

/* Next & previous buttons */
.nav-button {
  cursor: pointer;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  pointer-events: all;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.slide-content {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: baseline;
  pointer-events: none;
  padding: 40px;
}

.slide-content-box {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.6);
  padding: 10px;
}

.slide-heading {
  color: #f2f2f2;
  font-size: 25px;
  font-weight: bold;
  padding: 8px 12px;
  text-align: left;
}

.slide-text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  text-align: left;
  line-height: 20px;
}

.dot_container{
  position: relative;
  width: 100%;
  height: 20vh;
}

.dot-wrapper{
position: relative;
height:12 vh;
}

.dot-wrapper {
  position: relative;
}

.dot-slider{
display: flex;
overflow-y: hidden;
scroll-snap-type: x mandatory;
scroll-behavior:smooth;
}

.dot{
scroll-snap-align: start;
object-fit: cover;
cursor: pointer;
height: 10vh;
aspect-ratio: 1/1;
object-fit:cover;
margin: 0 2px;
z-index:1;
border: none;
}

.active, .dot:hover {
  border-style:solid;
  border-width: 3px;
  border-color: white;
}